@font-face {
  font-family: yumincho;
  src: url("../fonts/yumin.ttf");
}

@font-face {
  font-family: code-b;
  src: url("../fonts/CODE Bold.otf");
}

@font-face {
  font-family: code-l;
  src: url("../fonts/CODE Light.otf");
}

*, *::before, *::after {
  scroll-behavior: smooth;
}

body {
  background-color: #202124;
  color: white;
}

.hero .container h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: yumincho;
  letter-spacing: 2px;
}

.hero .container .section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .container .section .container .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  text-align: center;
  width: 350px;
}

.hero .container .section .container .media h3 {
  font-family: code-b;
  letter-spacing: 2px;
}

.hero .container .section .container .media p {
  margin-top: 0;
  font-family: yumincho;
}

.hero .container .section .container .media img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  display: block;
  margin: 10px auto;
  border: none;
  border-radius: 10px;
}

.hero .container .section .container .why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  text-align: center;
  width: 350px;
}

.hero .container .section .container .why h3 {
  font-family: code-b;
  letter-spacing: 2px;
}

.hero .container .section .container .why p {
  margin-top: 0;
  font-family: yumincho;
}

.hero .container .section .positiveandnegative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .container .section .positiveandnegative .positive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  text-align: center;
  width: 400px;
}

.hero .container .section .positiveandnegative .positive h3 {
  font-family: code-b;
  letter-spacing: 2px;
}

.hero .container .section .positiveandnegative .positive p {
  margin-top: 0;
  font-family: yumincho;
}

.hero .container .section .positiveandnegative .positive span {
  text-align: left;
}

.hero .container .section .positiveandnegative .positive ul {
  text-align: left;
}

.hero .container .section .positiveandnegative .negative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  text-align: center;
  width: 500px;
}

.hero .container .section .positiveandnegative .negative h3 {
  font-family: code-b;
  letter-spacing: 2px;
}

.hero .container .section .positiveandnegative .negative p {
  margin-top: 0;
  font-family: yumincho;
}

.hero .container .section .positiveandnegative .negative span {
  text-align: left;
}

.hero .container .section .positiveandnegative .negative ul {
  text-align: left;
}

.hero .container .section .positiveandnegative .neg-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  text-align: center;
  width: 400px;
}

.hero .container .section .positiveandnegative .neg-post h4 {
  font-family: code-b;
  letter-spacing: 2px;
}

.hero .container .section .positiveandnegative .neg-post p {
  margin-top: 0;
  font-family: yumincho;
}

.hero .container .section .positiveandnegative .neg-post img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  display: block;
  margin: 10px auto;
  border: none;
  border-radius: 10px;
}
/*# sourceMappingURL=impactsofmedia.css.css.map */